In [4]:
import pandas as pd
budget_cvs = pd.read_csv("Resources/budget_data.csv")
budget_cvs.head(10)

     Date  Profit/Losses
0  Jan-10        1088983
1  Feb-10        -354534
2  Mar-10         276622
3  Apr-10        -728133
4  May-10         852993
5  Jun-10         563721
6  Jul-10        -535208
7  Aug-10         632349
8  Sep-10        -173744
9  Oct-10         950741